.popup__button {
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    background-color: black;
    color: white;
    max-width: 358px;
    min-height: 50px;
    margin-top: 48px;
    border: none;
    border-radius: 2px;
}

@media screen and (max-width: 1023px) {
    .popup__button {
        max-width: 298px;
    }
}

@media screen and (max-width: 767px) {
    .popup__button {
        max-width: 238px;
        font-size: 14px;
        line-height: 17px;
        margin-top: 45px;
    }
}