.elements__like-heart {
  background-image: url(../../../images/heart.svg);
  width: 27px;
  height: 19px;
  background-repeat: no-repeat;
  background-color: transparent;
  border: none;
  margin-top: 4px;
}

.elements__like-heart:hover {
  opacity: 0.5;
}

.elements__like-heart_active {
  background-image: url(../../../../images/heartblack.svg);
}