.elements__element {
    width: 100%;
    border-radius: 10px;
    background-color: white;
    min-height: 361px;
}

@media screen and (max-width: 1023px) {
    .elements__element {
        min-height: 307px;
    }
}

@media screen and (max-width: 767px) {
    .elements__element {
        max-width: 282px;
        margin: 0 auto;
        min-height: 361px;
    }
}
